<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /pj/

    #Removes access to the system folder by users.
    #Additionally this will allow you to create a System.php controller,
    #previously this would not have been possible.
    #'system' can be replaced if you have renamed your system folder.
    RewriteCond %{REQUEST_URI} ^system.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]
    
    #When your application folder isn't in the system folder
    #This snippet prevents user access to the application folder
    #Submitted by: Fabdrol
    #Rename 'application' to your applications folder name.
    RewriteCond %{REQUEST_URI} ^application.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]

    #Checks to see if the user is attempting to access a valid file,
    #such as an image or css document, if this isn't true it sends the
    #request to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L]
    
    </IfModule>

    <IfModule !mod_rewrite.c>
        # If we don't have mod_rewrite installed, all 404's
        # can be sent to index.php, and everything works as normal.
        # Submitted by: Eddy Christiandy

    ErrorDocument 404 /index.php
</IfModule> 

# Set up caching on media files for 1 year (forever?)
#<FilesMatch "\.(flv|ico|pdf|avi|mov|ppt|doc|mp3|wmv|wav)$">
#ExpiresDefault A29030400
#Header append Cache-Control "public"
#</FilesMatch>
#
## Set up caching on media files for 1 week
#<FilesMatch "\.(gif|jpg|jpeg|png|swf)$">
#ExpiresDefault A604800
#Header append Cache-Control "public"
#</FilesMatch>
#
## Set up 2 Hour caching on commonly updated files
#<FilesMatch "\.(xml|txt|html|js|css)$">
#ExpiresDefault A7200
#Header append Cache-Control "proxy-revalidate"
#</FilesMatch>
#
## Force no caching for dynamic files
#<FilesMatch "\.(php|cgi|pl|htm)$">
#ExpiresActive Off
#Header set Cache-Control "private, no-cache, no-store, proxy-revalidate, no-transform"
#Header set Pragma "no-cache"
#</FilesMatch>
##Caching 

<ifModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault A300
     
    # Expires after 1 month
    ExpiresByType image/gif A2592000
    ExpiresByType image/png A2592000
    ExpiresByType image/jpg A2592000
    ExpiresByType image/x-icon A2592000
    ExpiresByType application/x-javascript A2592000
    #ExpiresByType text/plain A2592000

    <FilesMatch "\.(flv|ico|pdf|avi|mov|ppt|doc|mp3|wmv|wav)$">
    ExpiresDefault A29030400
    Header append Cache-Control "public"
    </FilesMatch>
     
    # Expires after 1 day
    #ExpiresByType text/css A86400
</ifModule>