/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}

/*----------------------------
	The Chart
-----------------------------*/


#placeholder {
	border: 1px solid #CDCDCD;
	background-color: white;
	margin-bottom: 15px;
	box-shadow: 1px 1px 2px #EEE, 0 -3px 5px #F3F3F3 inset;
}


#chart{
	width: 98%;
	height: 300px;
	padding: 5px;
}

.ex-tooltip{
	position: absolute;
	background: #EEE;
	border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
	box-shadow: 0 1px 3px black;
	box-shadow: 0 1px 3px black;
	border-collapse: separate;
	display: none;
}


/*----------------------------
	The Footer
-----------------------------*/


.bar-dash{
	padding: 5px;
	background-color: #D3D3D3;
	color: #636363;
	font-weight: bold;
}

.xchart .axis text {
	font-size: 10px;
}